 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1319px;
}

.u-section-1 .u-group-1 {
  width: 1048px;
  min-height: 821px;
  margin: 60px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-1 .u-image-1 {
  width: 761px;
  height: 761px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 114px;
}

.u-section-1 .u-shape-1 {
  width: 300px;
  height: 101px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -253px auto 0 728px;
}

.u-section-1 .u-shape-2 {
  width: 265px;
  height: 260px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -88px auto 0 20px;
}

.u-section-1 .u-group-2 {
  width: 1067px;
  min-height: 398px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  margin: -20px 20px 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 36px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.125rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: 640px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1270px;
  }

  .u-section-1 .u-group-1 {
    min-height: 772px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 660px;
    height: 660px;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -192px;
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1198px;
  }

  .u-section-1 .u-group-1 {
    min-height: 655px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-shape-1 {
    width: 255px;
    height: 72px;
    margin-top: -146px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 213px;
    height: 209px;
    margin-top: -59px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 944px;
  }

  .u-section-1 .u-group-1 {
    min-height: 355px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
    margin-top: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 130px;
    height: 37px;
    margin-top: -77px;
  }

  .u-section-1 .u-shape-2 {
    width: 107px;
    height: 105px;
    margin-top: -37px;
    margin-right: 213px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 524px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 1px auto 0;
}

.u-section-2 .u-form-1 {
  height: 311px;
  width: 678px;
  margin: 74px auto 0;
}

.u-section-2 .u-form-group-1 {
  margin-left: auto;
}

.u-section-2 .u-label-1 {
  letter-spacing: 0px;
}

.u-section-2 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-2 .u-form-group-2 {
  margin-left: auto;
}

.u-section-2 .u-label-2 {
  letter-spacing: 0px;
}

.u-section-2 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-2 .u-form-group-3 {
  margin-left: auto;
}

.u-section-2 .u-label-3 {
  letter-spacing: 0px;
}

.u-section-2 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 300;
}

.u-section-2 .u-form-group-4 {
  margin-left: auto;
}

.u-section-2 .u-btn-1 {
  font-size: 1rem;
  margin-left: auto;
  letter-spacing: 1px;
  border-style: none;
  background-image: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 0 21px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 1px;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}